.shake{
  animation: shake 1s;
}

@keyframes shake{
  0% {transform: translate (4px, 4px) rotate(0deg);}
  10% {transform: translate (-4px, -4px) rotate(-1deg);}
  20% {transform: translate (-7px, 0px) rotate(0deg);}
  30% {transform: translate (7px, 4px) rotate(0deg);}
  40% {transform: translate (4px, -4px) rotate(0deg);}
  50% {transform: translate (-4px, 4px) rotate(0deg);}
  60% {transform: translate (-7px, 4px) rotate(0deg);}
  70% {transform: translate (7px, 4px) rotate(0deg);}
  80% {transform: translate (-4px, -4px) rotate(0deg);}
  90% {transform: translate (4px, 4px) rotate(0deg);}
  100% {transform: translate (4px, -4px) rotate(0deg);}
}

body{
  background-color: #3e3e60;
  color: white;
}

.center{
  text-align: center;
  padding-top: 2em;
}

.btn{
  margin-top: 2em;
  width: 20%;
  height: 20%;
  border: solid;
  font-size: 20px;
}

h1{
  font-size: 3em;
}

#ball{
  display: block;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: auto;
}

#message{
  font-size: 3em;
  margin-top: 1.5em;
  text-align: center;
}







